h1{  font-weight: 900; padding: 20px;}
p{ padding: 30px;  font-weight: 900;}
button{ background-color: blue; padding-top: 35px; padding-bottom: 35px; padding-left: 80px; padding-right: 80px; color: white; }
div{ text-align: center;}
button:hover { background-color: rgb(34, 112, 3);}